.result{
    margin-bottom: 80px;
    line-height: 1.5;
}

.result .wrapper p{
    display: flex;
    align-items: center;
    justify-content: center;
}

.result .wrapper .field,
.result .wrapper .time{
    padding: 0 20px;
    font-size: 70px;
}

.result .wrapper p>span{
    font-family: var(--font-gmarketBold), var(--font-gmarketMedium), sans-serif;
}

.result .btns{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    gap: 20px;
}